@font-face {
    font-family: Brush-Script-MT;
    src: url("../fonts/Brush\ Script\ MT\ Regular.ttf")
}

:root {
    --primary-color: #f4e6c3;
    --secondary-color: #c0c0c0;
    --accent1-color: #8b1e1e;
    --accent2-color: #3b2f2f;

    --heading-font: Brush-Script-MT;
    --paragraph-font: 'Times New Roman', Times, serif;
}

.contentbox {
    background: var(--primary-color);
    margin: 40px auto;
    width: 1024px;
}

header {
    height: 102px;
    display: grid;
    grid-template-columns: 102px 1fr;
}

header img {
    height: 102px;
    width: 102px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: white;
}

main {
    padding: 20px;
}

footer {
    background: var(--accent2-color);
    height: 102px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}

p, a {
    font-family: var(--paragraph-font);
}

p {
    text-indent: 30px;
}

#play_art-img {
    float: right;
    width: 472px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: -20px;
    margin-right: -20px;
}

.imgbox {
    background: var(--accent1-color);
    width: 784px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#map-img {
    width: 100%;
}

#_10step_guide-img {
    width: 33%;
}