:root {
    --primary-color: #f4e6c3;
    --secondary-color: #c0c0c0;
    --accent1-color: #8b1e1e;
    --accent2-color: #3b2f2f;

    --heading-font: ;
    --paragraph-font: ;
}

#contentbox {
    background: var(--primary-color);
    margin: 40px auto;
    width: 1080px;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 100px 1fr;
}

nav {
    background: var(--secondary-color);
    padding: 20px;
}

footer {
    background: var(--accent2-color);
    height: 100px;
}